.main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.homeMain {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 25vh;
    font-size: calc(10px + 2vmin);
    color: white;
    display: table;
    width: 100%;
    clear: both;
}

.projectHome {
    position: relative;
    color: white;
    padding-top: 5vh;
    font-size: calc(10px + 2vmin);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    width: 100%;
    height: 100%;
}

.otherHome {
    position: relative;
    color: white;
    padding-top: 5vh;
    font-size: calc(10px + 2vmin);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
    width: 100%;
    height: 100%;
}

.moreLinks {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.projectTitle {
    font-size: calc(10px + 2vmin);
    text-align: center;
}

.headerLinks a > img {
    margin-left: 10px;
    margin-right: 10px;
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

.aboutMe {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: calc(10px + 1vmin);
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.5s;
}

.icons {
    filter: invert(95%);
}

.nothing,
.nothing:hover {
    display: none;
    color: transparent;
    pointer-events: none;
    /* display: inline-block; */
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.aboutMe:before {
    content: "[";
    transition: 0.3s all;
}

.aboutMe:after {
    content: "]";
    transition: 0.3s all;
}
.aboutMe:hover:before,
.aboutMe:hover:after {
    margin: 0 5px;
}

.cardText {
    font-size: calc(4px + 1vmin);
    margin-left: 25vh;
    margin-right: 25vh;
}
